@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root{
    --color-var1: rgb(0, 148, 188);
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-family: roboto;
}

h3 {
    font-family: roboto;
    font-size: 10pt;
}

#colourbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--color-var1);
    width: 100vw;
    height: 50px;
    margin-top: 0;
    padding-right: 1vw;;
}

 #loggedUser {
    font-family: roboto;
    font-style: normal;
    color: #ffffff;
    
 }

#loginSection button{
    background-color: none;
    color: none;
}

#loginInput{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#loginInput input{
    border-radius: 0.5em;
    border-style: none;
    background-color: rgb(212, 236, 244);
    font-weight:500;
    font-family: roboto;
    padding-left: 0.5em;
}

#loginInput label{
    padding-left: 0.5em;
}

.twobuttons{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.fs-10{
    font-size:8pt;
    text-align: center;
    font-family: roboto;
}

/****Red Infobar CSS****/

#infobar {
    background-color: #dc4c23;
    min-height: 50px;
    min-width: 100vw;
    /* position: absolute;
    top: 5vh; */
    display:flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.6em 2em 0.6em 2em;
    flex-wrap: wrap;
}

#infobar h2 {
    text-align: center;
    text-justify: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: roboto;
    margin: auto auto auto 0;
}

#infobar div{
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 0.7em;
    padding: 0.5em;
}

#infobar div h3 {
    font-size: 12pt;
    font-family: roboto;
    font-weight: 600;
    color: white;
    justify-content: center;
    margin:auto;
    }

#infobar div p {
    font-size: 11pt;
    font-family: roboto;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 0;
    margin: auto;
    }

.vencim-table{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#impuestos{
    display: flex;
    flex-direction: column;
}

#registerInput {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

#registerInput h4 {
    font-size: 12pt;
    font-weight: 600;
}

.flex-y {
    margin-top: 1em;
    display:flex;
    flex-direction:column;
    gap: 0.5em;
}

.flex-x {
    margin-top: 1em;
    display:flex;
    flex-direction:row;
    gap: 0.5em;
}

#impuestos {
    margin-top: 2em;
    margin-bottom: 0;
}

/****index CSS****/

.displayNone{
    display:none !important;
}

/*Estilo de la ventana flotante de turnos*/

#turnForm {
    padding: 3em 2em 2em 2em;
    display:flex;
    flex-direction: column;
    position: absolute;
    gap: 1em;
    background-color: var(--color-var1);
    width: 40vw;
    min-height: 45vh;
    height: auto;
    border-radius: 2em;
    min-width: 400px;
    font-family: roboto;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.2);
    margin-top: 20.5vh;
}

#turnForm label { 
    color:white;
    padding-left: 0.5em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

#turnForm select { 
    border-style: none;
    border-radius: 0.5em;
    padding-left: 0.5em;
    color: var(--color-var1);
    background-color: aliceblue;
}

#turnForm select {
    height:30px;
}

#camp2{
    gap: 0.5em;
    display: flex !important;
    flex-direction: row !important;
    height: 30px;
}

#camp2 label{
    width:max-content;
}

#camp2 input {
    width:fit-content;
    max-width: 100%;
}

#camp6{
    display: flex;
    flex-direction: column !important;
    gap: 0.5em;
    max-height: 100vh;
}

#turnForm div{
    display:flex;
    flex-direction: row;
}

#turnForm div input {
    flex-grow: 4;
    border-style: none;
    border-radius: 0.5em;
    height: 30px;
    background-color: aliceblue;
    padding-left: 1em;
    color: var(--color-var1);
    font-size: 10pt;
}

#blackBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed; 
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.85);
}

#blackBackground h2 {
    text-shadow: 0px 0px 5px rgba(48, 48, 48, 0.5);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5pt;
    text-align: center;
    color: white;
    font-size: 16pt;
}

#turnInfo{
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-top: 32vh;
    min-width: 400px;
    max-width: 500px;
    width: 40vw;
    background-color: var(--color-var1);
    border-radius: 1em;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
}

#turnDetails {
    font-family: Roboto;
    color: white;
    margin: 0em 4em 2em 4em;
    text-align: center;
    align-self: center;
    line-height: 16pt;
}

.turnButtons {
    display:flex;
    flex-direction: row !important;
}

#turnInfo div{
    margin-top: 0.5em;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap: 0.5em;
}

#turnInfo div button{
    cursor: pointer;
    padding: 0 1em 0 1em;
    margin-bottom: 1.5em;
    min-width: 6vw;
    height: 4vh;
    border-style: solid;
    border-radius: 1.2em;
    border-color: white;
    border-width: 0.2em;
    color:white;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 11pt;
    background-color: rgba(0,0,0,0);
}

#okCancel {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}

.formButton {
    margin: 1em 0 1em 0;
    border-style: none;
    border-radius: 0.5em;
    height: 35px;
    color: var(--color-var1);
    font-size: 12pt;
    font-weight: 400;
    background-color: white;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.2);
    cursor: pointer;
    flex-grow: 1;
}

/*Estilo del resto del index*/

#logo {
    margin-top: 10vh;
    height: 400px;
}

.opciones {
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.access {
    margin-top: 0;
    margin-bottom: 4em;
}

.mainbutton {
    border-style: none;
    border-radius: 0.75em;
    padding: 0.7em;
    font-weight: 500;
    cursor: pointer;
}   

footer{
    font-size: 8pt;
}

.provisorio{
    background-color: #0094BC;
    color: white;
    font-weight: 600;
    margin-right: 0.75em;
}

#proxferiadoFloat {
    display:flex;
    flex-direction: row;
    margin-top: 0.5em;
    font-family: roboto;
    font-size: 0.8em;
    background-color: #faf5b2;
    border-radius: 1em;
    padding: 0.3em 1em 0.3em 1em;
    border-width: 2px;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.2);
}

#proxferiadoFloat p {
    margin: 0;
    align-self:center;
    justify-content: center;
}

#closeProxFeriado {
    margin:0;
    align-self:center;
    justify-content: center;
    border-style: none;
    font-weight: 600;
    background-color: rgba(0,0,0,0)
}